@using Exchangerat.Admin.Common.Enums

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img width="45" height="30" class="d-inline-block align-top" alt="" loading="lazy" src="~/images/only-logo.png" />
            Exchangerat Administration
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Login">Login</a>
                    </li>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item float-right">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Requests" asp-action="GetAll" asp-route-status="@((int)Status.Pending)">Requests</a>
                    </li>
                }
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Logout">Logout</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>